* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

a {
    text-decoration: none !important;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    background-color: #fff;
    height: 7rem;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9;
}

/* .textos-banner-mobile {
    padding-left: 20%;
} */

.textos-banner-mobile .principal {
    width: 46.6rem;
    height: 5.8rem;
}

nav {
    width: 1150px;
    justify-content: center;
    align-items: center;
}

header .menu {
    display: flex;
    width: 1150px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

ul.itens-menu {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    gap: 3.5rem;
    /* line-height: 1.8rem; */

}

ul.itens-menu li a {
    color: #000;
}

.button-contato {
    background-color: #3C72EC;
    width: 18rem;
    height: 4rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    border-radius: 0.5rem;
}

.button-contato a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.6rem;
    /* line-height: 1.9rem; */
    font-weight: 500;
}

.button-contato a:hover {
    color: #FFF;
}

/*Fim header*/
/* Início CSS Banner */


.banner {
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: left;

}

.button-home {
    width: 25rem;
    height: 5rem;

}

.burger-menu,
.close-button-menu {
    display: none;
}

.button-home a {
    background-color: white;
    border-radius: 2.5rem;
    border: 2px solid #3C72EC;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C72EC;
    font-size: 1.4rem;
    font-weight: 800;
    transition: all linear 0.5s;
}

.button-home a:hover {
    color: #fff;
    border: 2px solid #fff;
    background-color: #3C72EC;
}

.banner h3 {
    font-size: 1.6em;
    margin: 5px 0px 5px 0px;
    color: #3C72EC;

}

.banner p {
    font-size: 1.6em;
    padding-right: 150px;
}

.button-qs {
    margin-top: 5px;
}

/* Fim CSS Banner */

/*Inicio section servico*/
section.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8.8rem;
    width: 100%;
    background: linear-gradient(to top, #3C72EC 84%, #fff 16%);
}

.container-servicos {
    margin-bottom: 8.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textos-servicos h3 {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.textos-servicos h2 {
    font-size: 3.2rem;
    font-weight: 800;
    color: #3C72EC;
    text-align: center;
    margin-bottom: 1.6rem;

}

.container-cards-servico {
    display: flex;
    justify-content: center;
    gap: 23px;
}

.card-servico {
    width: 330px;
    min-height: 394px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F0;
}

.header-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to top, #F0F0F0 60%, #fff 40%);
    padding-right: 25px;
    padding-left: 25px;
    width: 100%;
}

.header-card h3 {
    margin-top: 5rem;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

}

.icon-servico {
    background: #C3C3C3;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-servico img {
    width: 70px;
    height: 70px;
}

.linha-card {
    margin-top: 20px;
    height: 1px;
    background-color: #7A7A7A;
    width: 80%;
}

ul.lista-servicos-card {
    margin: 21px 0 !important;
}

.lista-servicos-card li {
    font-size: 16px;
    font-weight: 300;
    text-align: left;

}

.button-saiba-mais,
.button-saiba-mais-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E7E7ed;
    width: 100%;
    height: 70px;
    border: none;
    font-size: 16px;
    font-weight: 800;
    color: #000000;
}

a.button-saiba-mais-mobile:hover {
    color: #000000;
}

.alternativo {
    background-color: #333033;
}

.header-alternativo {
    background: linear-gradient(to top, #333033 60%, #3C72EC 40%);
}

.header-card h3.white {
    color: #fff;
}

.card-servico.alternativo .lista-servicos-card li {
    color: #fff;
}

.card-servico.alternativo .button-saiba-mais,
.card-servico.alternativo .button-saiba-mais-mobile {
    background-color: #4A484A;
    color: #fff;
}

/*inicio section empresas*/
section.container-empresas {
    background-color: #3C72EC;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-empresas h3 {
    font-size: 1.6rem;
    font-weight: 500;
    /* line-height: 2rem; */
    color: #FFF;
    margin-top: 1.9rem;
}

.container-empresas h2 {
    font-size: 4rem;
    font-weight: 800;
    /* line-height: 4.9rem; */
    color: #fff;
}

.container-empresas p {
    font-size: 2rem;
    font-weight: 400;
    /* line-height: 2.4rem; */
    color: #fff;
    text-align: center;
}

.container-imagens-empresas {
    background: linear-gradient(to top, #fff 50%, #3C72EC 50%);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    padding: 1.8rem 0;
}

.container-imagem {
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-imagem h4 {
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    width: 23rem;
    margin-top: 1rem;
}

/*fim da seciton empresas*/

/*inicio da seciton contato*/

.container-contato {
    display: flex;
    padding-top: 6.5rem;
    padding-bottom: 9.3rem;
}

.conteudo-contato {
    width: 1150px;
    display: flex;
}

.left-contato {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.left-contato h2 {
    font-size: 3.5rem;
    font-weight: 800;
    /* line-height: 3.9rem; */
    text-align: left;
    margin-bottom: 0.7rem;
}

.left-contato p {
    font-size: 1.8rem;
    font-weight: 500;
    /* line-height: 2.2rem; */
    text-align: left;
    margin-bottom: 1.7rem;
}

.container-form form {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.container-form form input {
    width: 50rem;
    height: 2.6rem;
    border: 1px solid #3C72EC;
    outline: none;
    padding: 0.5rem 0.9rem;
    border-radius: 0.3rem;
}

.container-form form input::placeholder,
textarea::placeholder {
    font-size: 1.4rem;
    font-weight: 300;
    /* line-height: 1.7rem; */
    color: #C3C3C3;
}

textarea {
    width: 50rem;
    resize: none !important;
    padding: 0.5rem;
    border: 1px solid #3C72EC;
    outline: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1.1rem;
}

.button-form {
    width: 15rem;
    height: 4rem;
    margin-top: 2rem;
    border: none;
    border-radius: 2.5rem;
    background-color: #3C72EC;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    transition: all linear 0.5s;
}

.button-form:hover {
    background-color: #fff;
    color: #3C72EC;
    border: 1px solid #3C72EC;

}

.button-form.alternativo {
    background-color: #333033;
}

.button-form.alternativo:hover {
    background-color: #fff;
    color: #333033;
    border: 1px solid #333033;
}

.right-contato {
    width: 50%;
    display: flex;
    justify-content: end;
}

/*fim da seciton contato*/

/*Inicio Section equipe*/
section.membros-equipe {
    background-color: #333033;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membros-equipe h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-top: 4.8rem;
    margin-bottom: 0.9rem;
}

.membros-equipe p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1.6rem;
    width: 88.7rem;
    text-align: center;
}

.container-imagens-membros {
    display: flex;
    gap: 3rem;
    margin-bottom: 7.4rem;
}

.carousel-membros.mobile-membros {
    display: none;
}

.carousel-membros .carousel.slide .carousel-inner {
    width: 1100px !important;
}

.carousel-membros .carousel.slide .carousel-control-prev {
    left: -12rem !important;
}

.carousel-membros .carousel.slide .carousel-control-next {
    right: -12rem !important;
}

/*Fim section equipe*/

/*inicio da seciton atendimento*/
.container-atendimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, #fff 90%, #333033 10%);
    width: 100%;
}

.info-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    position: relative;
}

.conteudo-info-contato {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;

}

.conteudo-info-contato h2 {
    font-size: 5.5rem;
    font-weight: 800;
    /* line-height: 6.7rem; */
    text-align: center;
    color: #fff;
    margin-top: 3.3rem;
    margin-bottom: 3.3rem;

}

.conteudo-info-contato p {
    font-size: 2.2rem;
    font-weight: 700;
    /* line-height: 2.7rem; */
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;

}

.conteudo-info-contato span {
    font-size: 1.8rem;
    font-weight: 300;
    /* line-height: 2.2rem; */
    text-align: center;
    color: #fff;
    padding-left: 2rem;
    margin-bottom: 3.3rem;
}

.button-atendimento {
    border: 0.3rem solid #FFFFFF;
    width: 21rem;
    height: 6rem;
}

.button-atendimento a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 2.2rem;
    font-weight: 700;
    /* line-height: 2.7rem; */
    text-transform: uppercase;
}

.button-atendimento a:hover {
    color: #FFF;
}

.carousel-mensagens-atendimento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-mensagens-atendimento h3 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #3C72EC;
    margin-top: 4.9rem;
}

.carousel-mensagens-atendimento h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 4.9rem;
}

.carousel-atendimento {
    width: 90rem;
}

.caixa-mensagem {
    width: 100%;
}

.caixa-mensagem p {
    font-size: 3rem;
    font-weight: 700;
    /* line-height: 3.7rem; */
    text-align: center;
    width: 78.1rem;

}

.user-message {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.icon-user-message {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.icon-user-message img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-message span {
    font-size: 2rem;
    font-weight: 400;
}

.container-clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.titles-clientes {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0;
    color: #3C72EC;
    margin-top: 5.5rem;
}

h3.description-clientes {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 0;
    color: #000;
}

.carousel-clientes .carousel.slide .carousel-inner {
    width: 1100px !important;
}

.carousel-clientes .carousel.slide .carousel-control-prev {
    left: -10rem !important;
}

.carousel-clientes .carousel.slide .carousel-control-next {
    right: -10rem !important;
}

.carousel-clientes .carousel.slide .carousel-control-prev-icon {
    background-image: url("/assets/img/seta-esquerda.png") !important;
}

.carousel-clientes .carousel.slide .carousel-control-next-icon {
    background-image: url("/assets/img/seta-direita.png") !important;
}

/*fim da seciton contato*/
/*Começo footer*/
footer {
    width: 100%;
    background-color: #333033;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;
}

.container-footer {
    width: 1150px;
    display: flex;
    align-items: center;
    gap: 150px;
}

.container-logo {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    min-height: 80px;
}

.container-logo h3 {
    font-weight: 800;
    font-size: 1.8rem;
    color: #fff
}

.itens-footer {
    min-height: 11rem;
    display: flex;
    flex-direction: column;
}

.itens-footer h3 {
    font-weight: 800;
    font-size: 1.8rem;
    /* line-height: 2.1rem; */
    color: #fff;
    margin-bottom: 0.6rem;
}

.itens-footer ul li a {
    font-weight: 400;
    font-size: 1rem;
    color: #fff
}

.itens-footer a {
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 0.6rem;
    display: flex;
    gap: 0.5rem;
}

.itens-footer a i {
    font-size: 2rem;
}

.itens-footer a:hover {
    color: #FFF;
}

.container-compartilhe {
    display: flex;
    gap: 9px;
    font-size: 2rem;
}

/*Fim footer*/

/*pc-gamer*/
.link-menu-ativo {
    color: #3C72EC !important;
    padding: 10px;
    border-bottom: 1px solid #3C72EC;
}

.fundo-pc-gamer {
    background-color: rgb(58, 53, 57);
    width: 100%;
}

.banner.fundo-pc-gamer h1 {
    font-size: 9rem;
    font-weight: 900;
    color: #FFF;
}

.banner.fundo-pc-gamer p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.right {
    width: 50%;
}

ul.itens-menu li a.color-white {
    color: #FFF;
}

.cor-azul {
    background-color: #3C72EC;

}

.container-produto-servico {
    display: flex;
    flex-direction: column;
}

.container-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.7rem;
}

.textos-produto h3 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 2.5rem;
}

.textos-produto p {
    font-size: 2.5rem;
    font-weight: 400;
    width: 55.4rem;

}

.container-produto video {
    width: 55.3rem;
    height: 36.9rem;
    object-fit: cover;
}

.container-produto img {
    width: 55.3rem;
    height: 36.9rem;
    object-fit: cover;
}

.carousel-produto-servico {
    margin-top: 7.2rem;
    margin-bottom: 7.2rem;
}

.carousel-produto-servico .carousel.slide .carousel-inner {
    width: 1300px !important;
    display: flex;
}

.carousel-produto-servico .carousel.slide .carousel-control-prev {
    left: -15rem !important;
}

.carousel-produto-servico .carousel.slide .carousel-control-next {
    right: -15rem !important;
}

.carousel-produto-servico .carousel.slide .carousel-control-prev-icon {
    background-image: url("/assets/img/seta-esquerda.png") !important;
}

.carousel-produto-servico .carousel.slide .carousel-control-next-icon {
    background-image: url("/assets/img/seta-direita.png") !important;
}

.container-servicos-cards {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-servico-card {
    display: flex;
    gap: 2.3rem;
    margin-bottom: 4rem;
}

.carousel-indicators {
    bottom: -4rem !important;
}

.bolinha {
    width: 1rem !important;
    height: 1rem !important;
    background-color: #000 !important;
    border-radius: 50%;
}

.icone-servico-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    border: 3px solid #CECECE;
    width: 14rem;
    height: 14rem;
}

.textos-card-servico h3 {
    margin-top: 1.1rem;
    margin-bottom: 0.3rem;
    font-size: 3rem;
    font-weight: 800;

}

.textos-card-servico p {
    font-size: 1.4rem;
    font-weight: 500;
    width: 31rem;
}

.right-column-servicos {
    padding-left: 3.4rem;
}

.border-black {
    border: 1px solid #000 !important;
}

.azul-servico {
    background-color: #e7eeff;
    border: 3px solid #A3BDF9
}


/* Início modo azul */

.bg-blue {
    background-color: rgb(81, 126, 234);
}

.blue-text li a {
    color: #ffffff;
}

ul.blue-text {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    gap: 3.5rem;
    /* line-height: 1.8rem; */

}

.button-menu-blue {
    background-color: #ffffff;
}

.button-menu-blue a,
.button-menu-blue a:hover {
    color: #3C72EC;
}

/* .page-title {
    padding-left: 20%;
} */

.page-title h3 {
    font-size: 10em;
    font-weight: 800;
    color: #ffffff;
}

.page-title p {
    font-size: 1.8em;
    color: #ffffff;
    font-weight: 400;
    padding-right: 5em;
}

/* fim do modo azul */

/* Início CSS Banner */


.banner-fluid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
}

.container-banner {
    display: flex;
    width: 1150px;
    align-items: center;
    justify-content: center;
}


/* Fim CSS Banner */

/* Inicio Service */

.services {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(81, 126, 234), rgb(81, 126, 234) 85%, #fff 15%);
    padding-top: 12em;
}

.container-service {
    display: flex;
    width: 1150px;
    align-items: center;
    justify-content: center;

}

.col-first {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-right: 1.5em;
    min-height: 39rem;
}

.col-second {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-left: 1.5em;
    min-height: 39rem;
}

.maintence,
.product-sell,
.computer-sell,
.piece-sell {
    display: flex;
    min-height: 10em;
    background-color: #E7EEFF;
    font-size: 1.6em;
    padding: 1em 2em 1em 2em;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(81, 126, 234, 0.2);
    height: 24rem;
    width: 55rem;
}

.piece-sell h3,
.computer-sell h3,
.product-sell h3,
.maintence h3 {
    font-size: 1.8em;
    padding-left: 1em;

}

.piece-sell p,
.computer-sell p,
.product-sell p,
.maintence p {
    padding-right: 2em;
    padding-left: 1.8em;

}

/* Fim Service */


.texto-produto-mobile,
.texto-mobile-servico {
    display: none;
}

/* Início Sobre */

.banner-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: url("https://witbiz.com.br/menwork/assets/img/banner-sobre.png");
    background-size: cover;
}

.banner-sobre h3 {
    font-size: 10.2em;
    font-weight: bold;
    color: #ffffff;
}

.section-description {
    display: flex;
    width: 1150px;
    justify-content: center;
    align-items: center;

}

.paragrph-first {
    font-size: 3rem;
    text-align: left;
    padding: 2.0em 0 2.0em 0;
}

.values {
    display: flex;
    width: 1150px;
    justify-content: end;
}

.values h3 {
    font-size: 3.6rem;
    font-weight: 900;
    color: #2A6EE5;
    width: 63.9rem;
    margin-top: 4rem;
    margin-bottom: 2.2rem;
}

.values p {
    font-size: 1.4rem;
    font-weight: 400;
    width: 51.5rem;
}

.values .container-textos {
    flex-grow: 2;
    padding-left: 2rem;
}

.values .container-imagem-sobre {
    flex-grow: 1;
    display: flex;
    justify-content: end;

}

.values .container-imagem-sobre img {
    width: 100%;
}

.differential {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 37rem;
    background-image: url("../../assets/img/diferencial.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.differential p {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 5rem;
}

.differential h3 {
    font-size: 3.2rem;
    font-weight: 900;
    color: #fff;
    margin-top: 2rem;
}

.container-clareza-preco {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 0 2rem;
}

.clareza,
.preco {
    display: flex;
    flex-direction: column;

}

.compromisso {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clareza p,
.preco p,
.compromisso p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 0;
    width: 30rem;
}

.clareza h3 {
    font-size: 3.6rem;
    font-weight: 900;
    margin-bottom: 2.2rem;
    width: 330px;
}

.preco h3 {
    width: 333px;
    font-size: 3.6rem;
    font-weight: 900;
    margin-bottom: 1.8rem;
}

.compromisso h3 {
    width: 100%;
    font-size: 3.6rem;
    font-weight: 900;
    margin-bottom: 1.8rem;
    text-align: left;
    width: 240px;
}


.modal-servicos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow-y: auto;
}

.container-modal-sevicos {
    width: 58%;
    min-height: 550px;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
}

.modal-header-servicos {
    background: linear-gradient(to top, #F0F0F0 50%, #fff 50%);
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    position: relative;
}

.modal-header-servicos.alternativo-modal {
    background: linear-gradient(to top, #333033 50%, #3C72EC 50%);
}

.icon-modal {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4.1rem;
}

.icon-modal img {
    width: 7rem;
    height: 7rem;
}

.title-modal {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.title-modal h2 {
    font-size: 3.6rem;
    font-weight: 700;

}

.title-modal .linha-card {
    margin-top: 0;
}

.modal-content-servicos {
    height: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    padding: 1.5rem 8rem;
}

.modal-content-servicos.alternativo {
    background-color: #333033;
}

.lista-de-servicos-modal {
    column-count: 2;
    column-gap: 10rem
}

.lista-de-servicos-modal li {
    font-size: 1.6rem;
    font-weight: 400;
}

.lista-de-servicos-modal.branco li {
    color: #fff;
}

.lista-de-servicos-modal.branco li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;

}

.lista-de-servicos-modal.branco li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #746E74;
    border-radius: 50%;
    display: inline-block;
}

.lista-de-servicos-modal li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
}

.lista-de-servicos-modal li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: inline-block;
}

.branco {
    color: #fff;
}

.fundo-branco {
    background-color: #FFF;
}

.modal-footer-servicos {
    height: 7rem;
    background-color: #2A6EE5;
    display: flex;
}

.close-button {
    background-color: #E7EEFF;
    color: red;
    font-weight: 700;
    width: 25px;
    height: 25px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.button-modal-footer {
    width: 100%;
    border: none;
    flex-grow: 1;
    font-size: 3rem;
    font-weight: 700;
    background-color: #E8E7E7;
}

.button-modal-footer.alternativo {
    background-color: #4A484A;
    color: #fff;
}

.esconder-desk {
    display: none;
}

/* Fim Sobre */
@media (max-width:768px) {
    body {
        overflow-x: hidden;
    }



    header .menu img {
        width: 11.8rem;
        height: 1.64rem;
        align-self: center;
    }

    ul.itens-menu {
        font-size: 0.6rem;
        gap: 1.1rem;
    }

    .button-contato {
        width: 9rem;
        height: 2rem;
        position: absolute;
        right: 10px;
    }

    .button-contato a {
        font-size: 0.7rem;
    }


    header .menu {
        width: 100%;
        align-items: center;
        position: relative;
        justify-content: center;
    }

    ul.itens-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 999;
        transition: display 0.3s ease;
    }

    ul.itens-menu li {
        text-align: center;
        padding: 15px;
        font-size: 1.4rem;
        border-bottom: 1px solid #E7EEFF;
    }

    .fundo-pc-gamer ul.itens-menu {
        background-color: #313131;
    }

    .close-button-menu {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2000;
        font-size: 1.6rem;
    }

    .burger-menu,
    .close-button-menu {
        display: block;
        background-color: #3C72EC;
        color: #fff;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
    }

    .button-form {
        width: 12rem;
        height: 3rem;
        font-size: 1.6rem;
    }


    .header-card {
        padding: 0;
    }

    .button-home {
        width: 20rem;
        height: 4rem;
    }

    .card-servico {
        width: 31.8rem;
    }

    div.slider-item-container {
        gap: 2.8rem
    }

    .burger-menu {
        position: absolute;
        left: 20px;
        background-color: transparent;
        color: #3C72EC;
        font-size: 3.5rem;
    }

    .burger-menu:hover,
    .close-button:hover {
        background-color: #2a57a0;
    }

    .bg-blue .menu .burger-menu {
        color: #fff;
    }

    .bg-blue .menu ul.itens-menu li a {
        color: #000 !important;
    }

    .banner video {
        display: none;
    }

    .banner {
        width: 100%;
    }

    .textos-banner-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* padding-left: 5%; */
    }

    .textos-banner-mobile .principal {
        width: 28.1rem;
        height: 3.5rem;
    }

    .container-pc-gamer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 9rem;
        margin-top: 0.6rem;
        padding-bottom: 0 !important;
    }

    .banner h3,
    .banner p {
        font-size: 1.2rem;
        width: 31.5rem;
        padding: 0;
    }

    .button-qs {
        display: none;
    }

    .container-servicos-windows-mobile,
    .container-servicos-apple-mobile {
        width: 100%;
    }

    .header-card-windows-mobile,
    .header-card-apple-mobile {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 1.5rem;
        align-items: center;

    }

    .header-card-windows-mobile img {
        width: 5.9rem;
        height: 1.9rem;
        justify-items: flex-end;
        margin-left: 1rem;
    }

    .header-card-apple-mobile img {
        width: 8.7rem;
        height: 1rem;
        margin-right: 1.3rem;
    }

    .header-card-windows-mobile .textos,
    .header-card-apple-mobile .textos {
        width: 40%;
        text-align: center;
    }

    .header-card-windows-mobile .textos h3,
    .header-card-apple-mobile .textos h3 {
        font-size: 0.8rem;
        font-weight: 500;
        color: #3C72EC;
    }

    .header-card-windows-mobile .textos h2,
    .header-card-apple-mobile .textos h2 {
        font-size: 0.8rem;
        font-weight: 800;
    }

    .container-card-windows-mobile {
        display: flex;
        justify-content: center;
    }

    /* .left-card-windows,
    .right-card-windows {
        width: 50%;
    } */
    .servicos-windows {
        justify-content: center;
    }

    .textos-servicos h3 {
        font-size: .8rem;
    }

    .textos-servicos h2 {
        font-size: 1rem;
    }

    section.sevicos-autorizada {
        justify-content: center;
        padding: 3.3rem 0;
    }

    .left-card-windows {
        display: flex;
        flex-direction: column;
    }

    .left-card-windows h2 {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: left;
    }

    .servicos-card-windows {
        display: flex;
        gap: 1rem;
    }

    .servicos-card-apple {
        display: flex;
        gap: 1rem;
    }

    .servicos-card-windows ul li,
    .servicos-card-apple ul li {
        position: relative;
    }

    .servicos-card-windows ul li::before,
    .servicos-card-apple ul li::before {
        content: '';
        position: absolute;
        left: -5px;
        top: 50%;
        transform: translateY(-50%);
        width: 0.3rem;
        height: 0.3rem;
        background-color: #3498db;
        border-radius: 2px;
    }

    .right-card-windows img {
        width: 12.6rem;
        height: 14.9rem;
        margin-left: 2rem;
    }

    .left-card-apple img {
        width: 12.6rem;
        height: 14.9rem;
        margin-right: 2rem;
    }

    .carousel-servicos-windows .carousel.slide .carousel-inner {
        width: 35rem !important;
    }

    .carousel-servicos-windows .carousel.slide .carousel-control-prev {
        left: -1rem !important;
        top: 2rem;
    }

    .carousel-servicos-windows .carousel.slide .carousel-control-next {
        right: -1rem !important;
        top: 2rem;
    }

    .carousel-servicos-windows .carousel.slide .carousel-control-prev-icon {
        background-image: url("./assets/img/seta-esquerda.png") !important;
    }

    .carousel-servicos-windows .carousel.slide .carousel-control-next-icon {
        background-image: url("./assets/img/seta-direita.png") !important;
    }

    .container-contato {
        flex-direction: column;
        width: 100%;
        padding-top: 0;
    }

    .conteudo-contato {
        width: 100%;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }

    .carousel-empresas {
        background: linear-gradient(to top, #fff 60%, #3C72EC 40%);
        width: 100%;

    }

    .compromisso {
        padding-left: 8%;
    }

    .container-empresas h3 {
        font-size: 0.8rem;
    }

    .container-empresas h2 {
        font-size: 1rem;
    }


    .container-servicos-mobile {
        display: flex;
        justify-content: center;
        gap: 2.3rem;
        min-height: 24rem;
    }

    .container-imagem h4 {
        width: unset;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 0.8rem;
        text-align: center;
        width: 12.2rem;

    }

    .container-servicos-mobile .container-imagem {
        width: 11.5rem;
        height: 15.9rem;
    }

    .container-servicos-mobile .container-imagem img {
        width: 100%;
        height: 100%;
    }

    .carousel-empresas .carousel.slide .carousel-control-prev-icon {
        background-image: url("/assets/img/seta-esquerda.png") !important;
    }

    .carousel-empresas .carousel.slide .carousel-control-next-icon {
        background-image: url("/assets/img/seta-direita.png") !important;
    }

    .container-form form {
        width: 100%;
    }

    .container-form form input,
    textarea {
        width: 100%;
    }

    .left-contato,
    .right-contato {
        width: 100%;
    }

    .right-contato {
        justify-content: center;
        margin-top: 1rem;
    }

    .right-contato img {
        width: 100%;
    }

    .container-info-contato h2 {
        font-size: 1.8rem;
        margin-bottom: 0.6rem;
    }

    .container-info-contato p {
        font-size: 1.2rem;
        margin-bottom: 0.6rem;
    }

    .membros-equipe h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .membros-equipe p {
        font-size: 1.2rem;
        text-align: center;
        width: 34.1rem;
        margin-bottom: 1.3rem;
    }

    .carousel-membros.mobile-membros {
        display: block;
    }

    .carousel-membros .carousel.slide .carousel-inner {
        width: 35rem !important;
    }

    .container-imagens-membros {
        gap: 1.2rem;
    }

    .carousel-membros .carousel.slide .carousel-control-prev {
        left: -4rem !important;
        top: -7rem;
        display: none;
    }

    .carousel-membros .carousel.slide .carousel-control-next {
        right: -3rem !important;
        top: -7rem;
        display: none;
    }

    .container-empresas p {
        width: 35.4rem;
        font-size: 1.2rem;
        text-align: center;
        line-height: 1.4rem;
    }

    .container-imagens-membros img {
        width: 10.5rem;
        height: 13.6rem;
    }

    .conteudo-info-contato h2 {
        font-size: 1.8rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .info-contato {
        padding: 0;
    }

    .info-contato img {
        width: 100%;
        min-height: 18rem;
    }

    .button-atendimento {
        width: 11.1rem;
        height: 3rem;
    }

    .button-atendimento a {
        font-size: 1.4rem;
    }

    .conteudo-info-contato p {
        font-size: 1.2rem;
        text-align: center;
        width: 31rem;
    }

    .conteudo-info-contato span {
        font-size: 1rem;
        text-align: center;
        width: 32rem;
        margin-bottom: 1.2rem;
    }

    .carousel-mensagens-atendimento h3 {
        font-size: 1.4rem;
    }

    .caixa-mensagem p {
        font-size: 1.4rem;
        /* line-height: 1.7rem; */
        text-align: center;
        width: 31.8rem;
    }

    .icon-user-message {
        width: 4rem;
        height: 4rem;
    }

    .user-message span {
        font-size: 1.4rem;
    }

    .container-clientes {
        width: 100%;
    }

    h2.titles-clientes {
        font-size: 1.6rem;
    }

    h3.description-clientes {
        font-size: 1.2rem;
    }

    .carousel-clientes .carousel.slide .carousel-inner {
        width: 35rem !important;
    }

    .carousel-clientes .carousel.slide .carousel-control-next {
        display: none;
    }

    .carousel-clientes .carousel.slide .carousel-control-prev {
        display: none;
    }

    .container-produto {
        gap: 1.2rem;
    }

    .page-title {
        padding-left: 0;
    }

    .page-title p {
        padding-right: 0;
        width: 30rem;
    }

    .page-title h3 {
        font-size: 3.4rem;
    }

    .container-banner {
        width: 100%;
        padding-left: 5%;
        justify-content: unset;
    }

    .banner-fluid {
        padding: 0;
    }

    .container-banner video {
        display: none;
    }

    .container-produto video {
        width: 13.9rem;
        height: 14.8rem;
        object-fit: cover;
    }

    .container-produto img {
        width: 13.9rem;
        height: 14.8rem;
        object-fit: cover;
    }

    .col-first,
    .col-second {
        min-height: 5rem;
    }

    .col-first.mobile-empresas .maintence img,
    .col-first.mobile-empresas .product-sell img,
    .col-second.mobile-empresas .computer-sell img,
    .col-second.mobile-empresas .piece-sell img {
        width: 5.2rem;
        height: 5.2rem;
    }

    .services {
        padding: 0;
        background: linear-gradient(to top, #fff 70%, rgb(81, 126, 234) 30%);
    }

    .services .carousel-produto-servico.esconder-desk {
        margin-top: 2rem;
        margin-bottom: 2rem;

    }

    .piece-sell h3,
    .computer-sell h3,
    .product-sell h3,
    .maintence h3 {
        font-size: 1.4rem;
        font-weight: 700;
        width: 100%;
        padding-left: 0.5rem;
    }

    .piece-sell p,
    .computer-sell p,
    .product-sell p,
    .maintence p {
        padding-left: 0.5rem;
    }

    .piece-sell,
    .computer-sell,
    .product-sell,
    .maintence {
        min-height: 8.6rem;
        padding: 1.2rem 1.2rem;
        height: 13rem;
        width: 31rem;
    }

    .textos-produto h3 {
        font-size: 1.6rem;
    }

    .textos-produto p.texto-produto-mobile {
        font-size: 1.2rem;
        width: 17.4rem;
        display: block;
    }

    .container-servico-card {
        gap: 0.6rem;
        margin-bottom: 2.26rem;
    }

    .right-column-servicos {
        padding-left: 1.1rem;
    }

    .icone-servico-card {
        width: 5.3rem;
        height: 5.3rem;
    }

    .icone-servico-card img {
        width: 2.8rem;
        height: 2.8rem;
    }

    .textos-card-servico h3 {
        font-size: 1.4rem;
        margin-top: 0;
    }

    .textos-card-servico p.texto-mobile-servico {
        font-size: 1.2rem;
        width: 10rem;
        display: block;
    }

    .carousel-produto-servico .carousel.slide .carousel-control-prev {
        display: none;
    }

    .carousel-produto-servico .carousel.slide .carousel-control-next {
        display: none;
    }

    .left {
        padding-left: 5%;
        width: 100%;
        align-items: unset;
    }

    .carousel-produto-servico .carousel.slide .carousel-inner {
        width: 33rem !important;
    }

    .banner.fundo-pc-gamer h1 {
        font-size: 3.4rem;
    }

    .banner fundo-pc-gamer .left .texto-mobile {
        font-size: 1.2rem;
        margin-bottom: 2.2rem;
    }

    footer {
        position: relative;
        justify-content: unset;
    }

    .container-logo {
        width: 12.4rem;
        min-height: 8rem;
        margin-left: 2rem;
        margin-right: 6.6rem;
        gap: 0;
    }

    .container-logo a {
        color: #fff;
        font-size: 1.2rem;
        margin-top: .7rem;

    }

    section.servicos {
        margin-top: 3rem;
    }

    .esconder {
        display: none;
    }

    .itens-footer ul {
        display: flex;
        flex-direction: column;
        column-gap: 1.7rem;
        row-gap: 0.7rem;
    }

    .itens-footer h3 {
        font-size: 1.2rem;
    }

    .itens-footer ul li {
        width: 8.5rem;
    }

    .itens-footer ul li a {
        font-size: 1.2rem;
    }

    .itens-footer ul :first-child {
        order: 1;
    }

    .itens-footer ul :nth-of-type(2) {
        order: 3;
    }

    .itens-footer ul :nth-of-type(3) {
        order: 2;
    }

    .itens-footer ul :nth-of-type(4) {
        order: 4;
    }

    .icones-flutuantes {
        position: absolute;
        display: flex;
        align-items: end;
        right: 0;
        bottom: 0;
        min-height: 1rem !important;
    }

    /* .bg-blue.sobre {
        height: 3rem;
    } */

    .banner-sobre {
        background-image: url("https://witbiz.com.br/menwork/assets/img/banner-sobre-mobile.png");
        width: 100%;
        height: 17rem;
        background-size: cover;
    }

    .banner-sobre h3 {
        font-size: 4rem;
    }

    .paragrph-first {
        width: 32.5rem;
        font-size: 1.4rem;
    }

    .section-description {
        width: 100%;
    }

    .values {
        flex-direction: column-reverse;
        width: 100%;
        padding: 2em 0 2em
    }

    .values .container-imagem-sobre {
        width: 100%;
        justify-content: center;
        padding: 0 10%;
    }

    .container-imagem-sobre img {
        width: 33.4rem;
        height: 23.6rem;
        object-fit: cover;
    }

    .values h3 {
        font-size: 1.9rem;
        margin-top: 1.2rem;
        margin-bottom: 1rem;
        width: 100%;
    }

    .values p {
        font-size: 1.2rem;
        width: 33.4rem;
        width: 100%;
    }

    .differential {
        background-image: url("https://witbiz.com.br/menwork/assets/img/diferencial-mobile.png");

    }

    .differential p {
        font-size: 1.2rem;
        margin-top: 0.8rem;
    }

    .differential h3 {
        font-size: 1.4rem;
        margin-top: 0.8rem;
        margin-bottom: 1.7rem;
    }

    .clareza h3,
    .preco h3 {
        margin-bottom: 0.4rem;
        width: 100%;
    }

    .container-clareza-preco {
        padding: 1.5rem 2rem;
    }

    .preco h3 {
        width: 16.9rem;
    }

    .compromisso h3 {
        margin-bottom: 0.4rem;
    }

    .clareza p {
        width: 14.3rem;
        margin-top: 0;
    }

    .preco p {
        width: 16.4rem;
        margin-top: 0;
    }

    .compromisso p {
        width: 32.9rem;
        margin-bottom: 1.70rem;
    }

    .esconder-desk {
        display: block;
    }

    a.esconder-desk {
        display: flex;
        gap: 0.5rem;
    }

    .container-footer {
        width: 100%;
        gap: 6rem;
    }

    div.slider-container {
        width: 80vw;
    }

    button.proximo {
        right: -10%;
    }

    button.anterior {
        left: -10%;
    }
}

.container-pc-gamer {
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 9rem;
}

.slider-container {
    width: 1034px;
    display: flex;
    justify-content: center;
    position: relative;
}

.slider {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slider-button {
    font-size: 5rem;
    color: transparent;
    position: absolute;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s all linear;
    user-select: none;
}

.slider-button:hover {
    color: yellow;
    background-color: #0008;
}

.anterior,
.proximo {
    background-color: transparent;
    border: none;
}

.anterior {
    position: absolute;
    left: 0;
    left: -5%;
    top: 50%;
}

.proximo {
    position: absolute;
    right: -5%;
    top: 50%;
}

.slider-item-container {
    height: 100%;
    display: flex;
    gap: 15px;
}

.slider-item {
    background-color: blueviolet;
    width: 80vw;
    height: 100%;

}

.slider-item:first-child {
    margin-left: -80vw;

}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}